    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>Green Code</strong> by 
                <a href="https://github.com/bitmonst3r" target="_blank" rel="noopener noreferrer">Deborah Meda,</a> 
                <a href="https://github.com/BlessingApkarian" target="_blank" rel="noopener noreferrer">Blessing Apkarian,</a>
                <a href="https://github.com/adancelcarlos" target="_blank" rel="noopener noreferrer">Aldrin Dancel Carlos,</a> 
                <a href="https://github.com/EddieSanz" target="_blank" rel="noopener noreferrer">Eddie Sanchez</a>. 
                <br>
                <a href="https://github.com/bitmonst3r/Green-Code" target="_blank" rel="noopener noreferrer">Github</a>
            </p>
        </div>
    </footer>
</body>
</html>
