<!DOCTYPE html>
<html>
    <head>
        {{> _bulma}}
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <meta name="google-signin-client_id" content="299497171148-rq9u75899t9ma315tsuur6aiced7romu.apps.googleusercontent.com">
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body> 
        <div  style="text-align:center;"href="/">
            <img id="img_head" src="\images\logo.png" width="150" height="150">
        </div>
        <div class="home_background" style="text-align:center;"></div>
        <br>
        {{> _nav}}