<a href="login">Login</a>
<a href="/">Home</a>
<a href="upload">Upload</a>
<a href="#" onclick="signOut();">Sign out</a>
<br><br>

<script>
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
</script>