{{> _header}}
<br><br>

<div class="styled-table">
  <table id="resultsTable">
    	<thead>
			<tr>
				<th>Submission ID</th>
				<th>Code Name</th>
        <th></th>
        <th></th>
			</tr>
		</thead>
    <tbody>
      {{#each data}}
      <tr>
        <td>{{this.submissionId}}</td>
        <td>{{this.codeName}}</td>
        <td><a href="/viewCode/{{this.submissionId}}">View Code</a></td>      
        <td><a href="/code/downloadById/{{this.submissionId}}">Download</a></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  </div>

<script>
$(document).ready(function(){
    $('#resultsTable').dataTable();
});
</script>

<br><br>
{{> _footer}}