{{> _header}}
<div id="graphs" class="has-background-black p-5"></div>
<script>
	const submissinId = window.location.href.match(/(\d+)\D*$/)[0];
	fetch('/results/json/' + submissinId)
		.then(res => res.json())
		.then((data) => {
			const labels = data.runs[0].measurements.map(measure => measure.label);
			labels.forEach(label => {
				createAggregateGraph(data, label);
			});
		});

	const createAggregateGraph = (data, label) => {
		const xAxis = data.runs.map(run => run.size);
		const yAxis = data.runs.map(run => {
			const measure = run.measurements.find(m => m.label === label);
			return measure.total || measure.mean;
		});

		const meta = data.runs[0].measurements.find(m => m.label === label);
		const unit = meta.unit;
		const value = meta.mean || meta.total;
		// Define Data
		var data = [{
			x: xAxis,
			y: yAxis,
			mode: "lines+markers",
			type: "scatter"
		}];

		// Define Layout
		var layout = {
			xaxis: {title: 'Sizes'},
			yaxis: {title: unit},
			title: label
		};

		const id = label.replace(' ', '');
		document.getElementById('graphs').innerHTML += `<div id="${id}" class="m-5 w-100 h-50"></div>`;
		// Display using Plotly
		Plotly.newPlot(id, data, layout);
	};
</script>
{{> _footer}}