{{> _header}}

<div class="home_background p-6 has-text-centered has-text-light" style="background-repeat:no-repeat" >

    <div class="hero-body">
        
            <h1 class="title has-text-light">
                Welcome to Green Code
            </h1>
        

</div>
        <br>

<div class="card has-background-success-light">
  <header class="card-header">
    <p class="card-header-title is-size-4">
      Mission
    </p>
    </header>

  <div class="card-content has-text-dark">
    <div class="content is-size-4">
      Our motivation is to make a connection between computer science and energy usage. Thus why we aim to find new methods to motivate the new generation of Computer Science students to learn and create efficient programs. Such as incorporating something like Big O of Energy into the study of Computer Science.    </div>
  </div>
  </div>
<br>
<div class="card has-background-dark">
    <div class="card-content has-text-light">
    <div class="content is-size-1">
      Let's build a better future
    </div>
  </div>
</div>

  </div>
      <div class="pulse">
      <p><a class="divLink" href="/upload">START</a></p>
    </div>
</div>

{{> _footer}}
