{{> _header}}

<div class='container'>

    <h2 class='title'> Profile </h2>
    <div class='container'>
        <img src="" alt="Image" id='UserImage' class="pl-6">

        <div id='UserName' class="pl-6">   </div>

        <div id='UserEmail' name='email' class="pl-6">   </div>
    </div>

    <br>    

    <div id = 'CodeList'>
        <h2 class='title'> Code List </h2> 
    </div>

</div>

{{> _footer}}