{{> _header}}
<section class="hero is-info">
  <div class="hero-body">
    <span id="least-carbon" class="title">
		Least carbon produced: 
    </span>
  </div>
</section>
{{!-- <div id="graphs" class="has-background-black p-5"></div> --}}
<script>
	fetch('/results/json/summary')
    .then(res => res.json())
    .then(data => {
      document.getElementById("least-carbon").innerHTML += data.leastCarbon + ' grams by ' + data.winner;
    });
</script>
{{> _footer}}