{{> _header}}
<body></body>
<h2> UPLOAD SECTION </h2>
<br>

<form id="fileupload" action="/code/upload" method="POST" enctype="multipart/form-data">
    <!-- Redirect browsers with JavaScript disabled to the origin page -->
   <input type="file" name="sampleFile"/>
   <input type="submit" value="Add code"> 
</form>    
</body>
{{> _footer}}

